<!DOCTYPE html>
<html>
  <head>
  <title>Customer Relationship Manager</title>
  </head>
  <body>
  	<header>
  		<h1>Welcome to <%= @crm_app_name %></h1>
  	</header>
  	<nav>
  		<ul>
  			<li><a href="/contacts">View all contacts</a></li>
  			<li><a href="/contacts/new">Add new contacts</a></li>
  			<li><a href="/contacts/:id/edit">Edit a contact</a></li>
  			<li><a href="/contacts/:id/view">View a contact</a></li>
  			<li><a href="/contacts/:id/delete">Delete a contact</a></li>
  		</ul>

  	</nav>

    <%= yield %>
    <footer>
    	<h4>Thank you for using the CRM</h4>
    </footer>
  </body>
</html>