<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>Customer Relationship Manager</title>
  </head>
  <body>
  	<header>
  		<h1>Welcome to <%= CRM_APP_NAME %></h1>
  	</header>
  	<nav>
  		<ul>
  			<li><a href="/contacts">View all contacts</a></li>
  			<li><a href="/contacts/new">Add a new contact</a></li>
  			<li><a href="/contacts/:id/edit">Edit a contact</a></li>
  			<li><a href="/contacts/:id">View/Delete a contact</a></li>
  		</ul>
  	</nav>
    <%= yield %>
    <footer>
      <br>
      <br>
      <br>
      <h4>Thank you for using the CRM</h4>
    </footer>
  </body>
</html>